/*-----------------------------------------------------------------------------------

Template Name: Znews - HTML Magazine Template for Blogging and News Sites. 

NOTE: This is Slider style file. All Slider related style included in this file.

-----------------------------------------------------------------------------------*/

.slider-area > img {
  height: 100vh;
  width: 100%;
}

/* slider menu */

/* The side navigation slider menu */
.sidenav {
  height: 100%; 
  width: 0; 
  position: fixed; 
  z-index: 2; 
  top: 0; 
  left: 0;
  background-color: #FFFFFF; 
  overflow-y: hidden; 
  padding-top: 20px; 
  transition: 0.5s; 
}

/* The navigation menu links */
.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  transition: 0.3s;  
}

/* When you mouse over the navigation links, change their color */
.sidenav .list-unstyled a:hover {
  background-color: #14A3B2;

}

/* Position and style the close button (top right corner) */
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s;
  padding: 20px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

/* /slider menu */